body {
  background-color: white;
  padding-top: 70px;
}

.rating {
  font-size: 22px;
  float: right;
  color: black;
}

.rating > span:hover{
   color: yellow;
}
.rating-white{
   color: grey
}
.rating-yellow{
   color: yellow;
}
.background-white{
	background-color: white;
  padding-left:  10px;
  padding-right:  10px;
}
.background-green{
	background-color: green;
  padding-left:  10px;
  padding-right:  10px;
}