

body {
  
  padding-top: 70px;
} 

.codebutton {
  min-width: 100px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  padding: 10px;
  

  }

.but {
  position: absolute;
  right: -50px;
  top:330px;
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn-grn{
  background-color: green;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 60px;
    height: 300px;
    opacity: 0;
  }
}